/*positioning styles*/
.common{
    position:absolute;
    border: 5px solid mediumpurple;
    background-color: lavender;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left:0px;
    right: 0px;
    text-align: center;
    font-style: italic;
    font-size: small;
}
.top{
    top:0px;
    left:0px;
    right: 0px;
    text-align: center;
    z-index: 1;
}
.content{
    top: 100px;
    left: 0px;
    right: 0px;
    height: 100%;
}
.nav{
    position: relative;
    top: 100px;
    float: right;
    color: white;
    
}
